@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: relative;
}

p {
  color: #333;
}

a {
  color: #9D5CD0;
}

.burger {
  display: none;
  opacity: 0;
}

.search {
  display: none;
  opacity: 0;
}
.search-input {
  display: none;
  opacity: 0;
}

.header {
  position: relative;
  height: 100px;
  background-color: #000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header__bottom {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.header__bottom__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.bottom-list {
  display: flex;
  margin: auto 0;
  color: #fff;
}
.bottom-list__item {
  position: relative;
  border: 2px solid transparent;
  cursor: pointer;
}
.bottom-list__item:not(:last-child) {
  margin-right: 110px;
}
.bottom-list__item--label {
  padding-right: 15px;
  border: 2px solid transparent;
}
.bottom-list__item--label::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 1px;
  right: 2px;
  top: 50%;
  background-color: #fff;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.bottom-list__item--label::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 1px;
  top: 50%;
  right: 7px;
  background-color: #fff;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}
.bottom-list__item--label:focus {
  border-color: #7943A4;
}
.bottom-list__item--checkbox {
  display: none;
}
.bottom-list__item--checkbox:checked ~ .bottom-list__item--label::before {
  transform: rotate(45deg);
}
.bottom-list__item--checkbox:checked ~ .bottom-list__item--label::after {
  transform: rotate(-45deg);
}
.bottom__find {
  display: flex;
  position: relative;
}
.bottom__find--icon {
  display: block;
  margin: auto 0;
  padding: 5px;
  border: 2px solid transparent;
}
.bottom__find--icon:focus {
  border-color: #7943A4;
}
.bottom__find--input {
  width: 218px;
  height: 38px;
  margin: auto 0;
  border: 2px solid transparent;
  background-color: inherit;
}
.bottom__find--input::placeholder {
  color: #fff;
}
.bottom__find--input:focus {
  border: 2px solid #7943A4;
}
.bottom__find::after {
  content: "";
  position: absolute;
  width: 218px;
  height: 1px;
  top: 50px;
  left: 43px;
  background-color: #fff;
}

.logo {
  width: 173px;
  height: 40px;
  margin: auto 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 40;
}

.header__list {
  display: flex;
  margin: auto 0;
}
.header__list__item a {
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  color: #fff;
}
.header__list__item a:hover {
  color: #C283F3;
}
.header__list__item:not(:last-child) {
  margin-right: 62px;
}
.header__list__item a:focus {
  border: 2px solid #7943A4;
}
.header__list__item:active a {
  color: #9D5CD0;
}

.login {
  display: block;
  margin: auto 0;
  color: #fff;
  padding: 5px;
  padding-left: 20px;
  background: url(../img/headerHero/login.svg) no-repeat;
  background-position-x: left;
  background-position-y: center;
  margin: auto 0;
  background-position-y: 50%;
  color: #fff;
  border: 2px solid transparent;
  transition: color 0.3s ease-in-out;
}
.login:active {
  color: #9D5CD0;
}
.login:hover {
  color: #9D5CD0;
}
.login:focus {
  border-color: #7943A4;
}

.scroll__content {
  position: absolute;
  min-width: 300px;
  height: 300px;
  top: -500px;
  opacity: 0;
  padding: 40px 20px 40px 40px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
  z-index: 50;
}

.bottom-list__item--checkbox:checked ~ .scroll__content {
  opacity: 1;
  top: 46px;
}

.customScroll {
  height: 220px;
  overflow: auto;
  z-index: 50;
}

.bottom__overlay {
  display: none;
}
.bottom__overlay--label {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 40;
}

.bottom-list__item--checkbox:checked ~ .bottom__overlay--label {
  display: block;
}

.bottom__scroll-list {
  display: flex;
  flex-direction: column;
}

.simplebar-scrollbar {
  width: 2px;
  height: 28px;
  background-color: #9D5CD0;
}

.simplebar-track {
  width: 2px !important;
  background-color: #000;
}

.scroll-list__item {
  position: relative;
  width: 220px;
  height: 40px;
  padding: 10px 14px;
  border: 2px solid transparent;
  box-sizing: border-box;
  background: url(../img/headerHero/scroll1.jpg) no-repeat;
  transition: border 0.2s ease-in-out;
}
.scroll-list__item:not(:last-child) {
  margin-bottom: 20px;
}
.scroll-list__item:nth-child(2n) {
  background: url(../img/headerHero/scroll2.jpg) no-repeat;
}
.scroll-list__item a {
  display: block;
  margin: auto 0;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
}
.scroll-list__item:hover {
  border-color: #9D5CD0;
}
.scroll-list__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(194, 131, 243, 0);
  transition: background-color 0.3s ease-in-out;
}
.scroll-list__item:active::after {
  background-color: rgba(194, 131, 243, 0.4);
}

@keyframes hero-zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
.hero {
  overflow: hidden;
}
.hero__background-wrapper {
  position: relative;
  height: calc(100% - 70px);
}
.hero__img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: hero-zoom 3s alternate ease-in-out infinite;
}
.hero__top {
  width: 100%;
  height: 70px;
  top: 100px;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.4);
}
.hero__container {
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.hero-list {
  display: flex;
  margin: auto 0;
  color: #fff;
}
.hero-list__item {
  padding-right: 12px;
  border: 2px solid transparent;
}
.hero-list__item:not(:last-child) {
  margin-right: 110px;
}
.hero-list__item:focus {
  border-color: #7943A4;
}
.hero__find {
  width: 218px;
  height: 50px;
  margin: auto 0;
  background-color: inherit;
  border-bottom: 1px solid #fff;
}
.hero__find::placeholder {
  color: #fff;
}
.hero__wrapper {
  width: 597px;
  padding-bottom: 122px;
}
.hero__wrapper__text {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
}
.hero__button {
  display: block;
  position: relative;
  width: 314px;
  height: 70px;
  border-radius: 100px;
  margin-top: 92px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #9D5CD0;
  border: 3px solid transparent;
  cursor: pointer;
  box-sizing: content-box;
  transition: all 0.2s ease-in-out;
}
.hero__button:hover {
  border: 3px solid #D1A9F0;
}
.hero__button::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  border: 3px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
}
.hero__button:focus::after {
  opacity: 1;
}
.hero__button:active {
  background-color: #7943A4;
}

.title {
  padding-top: 120px;
  font-size: 72px;
  font-weight: 700;
  line-height: 82.8px;
  color: #fff;
}

.burger-menu {
  display: none;
  margin: auto 0;
}
.burger-menu__button {
  position: relative;
  display: none;
  width: 36px;
  height: 26px;
  margin: auto 0;
  z-index: 30;
}
.burger-menu__nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 200%;
  top: -120px;
  padding-top: 200px;
  right: -100%;
  background-color: #000;
  overflow-y: auto;
  z-index: 20;
  transition: left 0.3s ease-in-out;
}
.burger-menu__item {
  padding: 30px 80px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  transition: color 0.3s ease-in-out;
}
.burger-menu__item--link {
  color: #fff;
}
.burger-menu__item--link:active {
  color: #7943A4;
}
.burger-menu__overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.burger__item {
  position: absolute;
  width: 28px;
  height: 3px;
  top: 50%;
  background-color: #fff;
  z-index: 31;
  transition: all 0.3s ease-in-out;
}
.burger__item::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 3px;
  top: -10px;
  background-color: #fff;
  z-index: 31;
  transition: all 0.3s ease-in-out;
}
.burger__item::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 10px;
  background-color: #fff;
  z-index: 31;
  transition: all 0.3s ease-in-out;
}

.burger-menu--active .burger-menu__overlay {
  display: block;
}

.burger-menu--active {
  display: block;
}
.burger-menu--active .burger__item {
  background-color: transparent;
}
.burger-menu--active .burger__item::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu--active .burger__item::after {
  width: 36px;
  top: 0;
  transform: rotate(-45deg);
}

.search {
  width: 29px;
  height: 29px;
  margin: auto 0;
  background: url(/img/headerHero/Search.svg);
  cursor: pointer;
}
.search-input {
  width: 300px;
  height: 40px;
  background-color: inherit;
  border-bottom: 1px solid #fff;
}

#burger-menu--checkbox {
  display: none;
}

.burger-menu--active .burger-menu__nav {
  left: 0;
}

.about-us__wrapper {
  width: 1080px;
}
.about-us__title {
  margin-top: 80px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: #333;
}
.about-us__text {
  margin-top: 30px;
  margin-bottom: 80px;
}

.galary {
  padding-bottom: 80px;
  background: url(../img/galary/galarybg.jpg);
  background-size: cover;
}
.galary__container {
  display: flex;
  justify-content: space-between;
}
.galary-left {
  width: 400px;
}
.galary-left__title {
  margin-top: 80px;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  color: #fff;
}
.galary-left__filter-text {
  margin-top: 30px;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
}

.select__header:hover .select__current,
.select__header:focus .select__current {
  color: #fff;
}

.select {
  width: 100%;
  position: relative;
}
.select__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 120px;
}
.select__header {
  display: flex;
  width: 100%;
  padding: 0 15px;
  border: 1px solid #999;
  transition: border-color 0.2s ease-in-out;
}
.select__header:focus, .select__header:hover {
  border-color: #fff;
}
.select__header--first {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.select__header--last {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.select__current {
  font-size: 16px;
  line-height: 40px;
  color: #999;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.select__current:focus, .select__current:hover {
  color: #fff;
}
.select__icon {
  position: relative;
  margin-left: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-shrink: 0;
}
.select__icon::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 1px;
  top: 50%;
  right: 4px;
  background-color: #fff;
  z-index: 50;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}
.select__icon::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 1px;
  top: 50%;
  right: 0px;
  background-color: #fff;
  z-index: 50;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out;
}
.select__body {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: opacity 0.3s ease-in-out;
}
.select__body--first {
  z-index: 10;
}
.select__body--second {
  z-index: 9;
}
.select__item {
  width: 100%;
  min-height: 40px;
  padding: 10px 14px;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  cursor: pointer;
}
.select__item:not(:last-child) {
  margin-bottom: 20px;
}
.select__item:hover {
  background-color: #9D5CD0;
}
.select.is-active .select__body {
  display: block;
  opacity: 1;
}
.select.is-active .select__header {
  border-bottom: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-color: #fff;
}
.select.is-active .select__current {
  color: #fff;
}
.select.is-active .select__icon::before {
  transform: rotate(-45deg);
}
.select.is-active .select__icon::after {
  transform: rotate(45deg);
}

.simplebar-content-wrapper {
  overflow: auto;
}

.selector_author {
  color: #000;
}

.choices {
  width: 400px;
  height: 40px;
  padding: 0;
}
.choices__inner {
  max-width: 400px;
  height: 40px;
  box-sizing: border-box;
  padding: 0;
}
.choices__list {
  width: 398px;
  padding: 0;
}
.choices .choices[data-type*=select-one] .choices__inner {
  padding: 0;
}

.galary-left__text {
  width: 401px;
  height: 118px;
  margin-top: 476px;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
}

.galary__text--mobile {
  display: none;
}

.swiper-container-galary {
  width: 1150px;
  height: 800px;
  margin-top: 165px;
  padding-top: 60px;
}
.swiper-slide {
  height: calc( (100% - 50px) / 2);
}
.swiper-slide-galary {
  position: relative;
}
.swiper-slide-galary::before {
  content: url(../img/galary/GalarySlideHover.svg);
  position: absolute;
  width: 300px;
  height: 300px;
  top: 25px;
  left: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.swiper-slide-galary::after {
  content: url(../img/galary/GalarySlideSearch.svg);
  position: absolute;
  width: 350px;
  height: 350px;
  right: 33px;
  background: rgba(194, 131, 243, 0.4);
  opacity: 0;
}
.swiper-slide-galary:hover::before {
  opacity: 1;
}
.swiper-slide-galary:active::after {
  opacity: 1;
}
.swiper-button-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #666;
  top: 30px;
  left: 95px;
  transition: background-color, border 0.25s ease-in-out;
}
.swiper-button-next::after {
  content: "";
  width: 7px;
  height: 1px;
  background-color: #fff;
  transform-origin: right;
  transform: translateY(0px) translateX(-3px) rotate(45deg);
}
.swiper-button-next::before {
  content: "";
  width: 7px;
  height: 1px;
  background-color: #fff;
  transform-origin: right;
  transform: translateY(0px) translateX(4px) rotate(-45deg);
}
.swiper-button-next:hover {
  background-color: #9D5CD0;
}
.swiper-button-next:active {
  background-color: #7943A4;
  border: 2px solid #9D5CD0;
}
.swiper-button-next:focus {
  border: 2px solid #797979;
}
.swiper-button-prev {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #666;
  top: 30px;
  left: 5px;
  transition: background-color 0.25s ease-in-out;
}
.swiper-button-prev::after {
  content: "";
  width: 7px;
  height: 1px;
  background-color: #fff;
  transform-origin: left;
  transform: translateY(0px) translateX(-3px) rotate(45deg);
}
.swiper-button-prev::before {
  content: "";
  width: 7px;
  height: 1px;
  background-color: #fff;
  transform-origin: left;
  transform: translateY(0px) translateX(4px) rotate(-45deg);
}
.swiper-button-prev:hover {
  background-color: #9D5CD0;
}
.swiper-button-prev:active {
  background-color: #7943A4;
  border: 2px solid #9D5CD0;
}
.swiper-pagination {
  width: 70px;
  height: 40px;
  top: 6px;
  left: 30px;
  line-height: 32px;
  color: #fff;
}

.catalog__title {
  display: inline-block;
  margin-right: 41px;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  color: #333;
}

.title-nav {
  display: inline-flex;
  flex-direction: row;
  margin-top: 80px;
}

.tabs__nav {
  display: flex;
  align-content: center;
  margin: auto 0;
}
.tabs-nav__item {
  width: 46px;
  height: 46px;
  margin: auto 0;
  padding: 10px;
  box-sizing: content-box;
  border: 2px solid transparent;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: filter 0.25s ease-in-out;
  transition: border 0.25s ease-in-out;
}
.tabs-nav__item.is-active {
  border: 2px solid #9D5CD0;
  background-repeat: no-repeat;
  background-position: center;
}
.tabs-nav__item:first-child {
  background-image: url(../img/catalogEvents/fr.svg);
}
.tabs-nav__item:nth-child(2) {
  background-image: url(../img/catalogEvents/gr.svg);
}
.tabs-nav__item:nth-child(3) {
  background-image: url(../img/catalogEvents/it.svg);
}
.tabs-nav__item:nth-child(4) {
  background-image: url(../img/catalogEvents/ru.svg);
}
.tabs-nav__item:nth-child(5) {
  background-image: url(../img/catalogEvents/bg.svg);
}
.tabs-nav__item:not(:last-child) {
  margin-right: 30px;
}
.tabs-nav__item:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}
.tabs-nav__item:active {
  filter: none;
  box-sizing: border-box;
  padding: 0;
  margin-left: 12px;
  margin-right: 42px;
  border: 2px solid #9D5CD0;
}
.tabs-nav__item:focus {
  filter: none;
  box-sizing: border-box;
  padding: 0;
  margin-left: 12px;
  margin-right: 42px;
  border: 2px solid #9D5CD0;
}
.tabs__description {
  margin-top: 13px;
  line-height: 32px;
  color: #333;
}

.tab {
  display: none;
  margin-top: 50px;
}

.is-active {
  display: flex;
  flex-direction: row-reverse;
}

#accordion1,
#accordion2,
#accordion3,
#accordion4,
#accordion5 {
  width: 50%;
}

#accordion1 h3 div,
#accordion2 h3 div,
#accordion3 h3 div,
#accordion4 h3 div,
#accordion5 h3 div {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  height: 115px;
  border: none;
  border-top: 1px solid #cacaca;
}
#accordion1 h3 div:last-child,
#accordion2 h3 div:last-child,
#accordion3 h3 div:last-child,
#accordion4 h3 div:last-child,
#accordion5 h3 div:last-child {
  border-bottom: 1px solid #cacaca;
}
#accordion1 > div,
#accordion2 > div,
#accordion3 > div,
#accordion4 > div,
#accordion5 > div {
  border: none;
  border-top: 1px solid #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.accordion__tabs-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-height: 341px;
  padding: 25px 0px;
}
.accordion__tabs-content {
  width: calc(50% - 50px);
  margin-right: auto;
}
.accordion__title {
  display: block;
  margin: auto 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  color: #333;
}
.accordion__button {
  position: relative;
  width: 50px;
  height: 50px;
  margin: auto 0;
  border-radius: 50%;
  background-color: #ececec;
}
.accordion__button::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: #000;
  transform-origin: right;
  transform: translateX(13px) translateY(31px) rotate(45deg);
}
.accordion__button::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: #000;
  transform-origin: left;
  transform: translateX(25px) translateY(31px) rotate(-45deg);
}

.tab-nav-inside {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
}

.tab-inside {
  display: none;
  width: 100%;
  margin-right: 50px;
}

.is-active-inside {
  display: block;
}

.is-active-nav-inside {
  color: #9D5CD0;
}

.ui-accordion .ui-accordion-header {
  margin-top: 0px;
}

.artist {
  max-width: 750px;
}
.artist__picture {
  width: 100%;
  height: auto;
}
.artist__name {
  margin-top: 30px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #333;
}
.artist__years {
  margin-top: 15px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}
.artist__description {
  margin-top: 15px;
  font-size: 16px;
  line-height: 22px;
  color: #333;
}

.events__title {
  margin-top: 80px;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  color: #333;
}
.events__list {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}
.events__list__item {
  border: 1px solid #cacaca;
  width: 500px;
  min-height: 700px;
}
.events__list__item:not(:nth-child(3n)) {
  margin-right: 50px;
}
.events__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  height: 707px;
  overflow: hidden;
  margin-bottom: 50px;
}
.events__wrapper > .events__list__item {
  margin-bottom: 50px;
}
.events__button {
  display: block;
  position: relative;
  width: 180px;
  height: 58px;
  margin: 37px auto 127px auto;
  padding: 0px 20px 5px 20px;
  font-size: 18px;
  line-height: 55px;
  font-weight: 700;
  text-align: center;
  color: #9D5CD0;
  background-color: transparent;
  border-radius: 25px;
  border: 2px solid #9D5CD0;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.events__button:hover {
  color: #fff;
  background-color: #9D5CD0;
}
.events__button:active {
  color: #fff;
  background-color: #7943A4;
  border: 2px solid #D1A9F0;
}
.events__button::after {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
}
.events__button:focus::after {
  opacity: 1;
}

.swiper-container-events {
  display: none;
  padding-bottom: 30px;
}

.swiper-pagination-events {
  top: calc(100% - 40px);
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 7px;
}
.swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background-color: #666;
}

#events__checkbox {
  display: none;
}

#events__checkbox:checked + .events__wrapper {
  height: auto;
}

#events__checkbox:checked ~ .events__button {
  display: none;
}

.description {
  position: relative;
  width: 500px;
  min-height: 400px;
  padding: 0px 45px 50px 50px;
  box-sizing: border-box;
}
.description__place, .description__date {
  display: block;
  position: absolute;
  top: 13px;
  right: 19px;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}
.description__date {
  top: 29px;
}
.description__title {
  padding-top: 49px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #333;
}
.description__text {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 32px;
  color: #333;
}
.description__more {
  position: absolute;
  bottom: 48px;
}
.description__more--link {
  color: #9D5CD0;
  text-decoration: underline;
}

.swiper-container-events {
  width: 100%;
  min-height: 700px;
  margin-top: 30px;
}

.editions {
  display: block;
  padding: 80px 0px 75px 0px;
  background: url(../img/editionsProjects/editions-bg.jpg) no-repeat;
  background-size: cover;
}
.editions__wrapper {
  display: flex;
  justify-content: space-between;
}
.editions__list--mobile {
  display: none;
}

.left__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  color: #fff;
}
.left__subtitle--category {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
}
.left__subtitle--price {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
}
.left__list {
  display: flex;
  flex-direction: column;
  margin-top: 9px;
}

.list__item:not(:last-child) {
  margin-bottom: 10px;
}
.list__item--label {
  position: relative;
  padding-left: 27px;
  cursor: pointer;
  color: #fff;
  line-height: 1;
  transition: color 0.3s ease-in-out;
}
.list__item--label:focus {
  border: 2px solid #9D5CD0;
}
.list__item--checkbox {
  display: none;
}
.list__item--checkbox + span {
  position: absolute;
  left: 3px;
  top: 6px;
  width: 12px;
  height: 12px;
  text-align: center;
  border: 1px solid #fff;
  transition: border-color 0.3s ease-in-out;
}
.list__item--checkbox + span::before {
  content: "•";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  opacity: 0;
  color: #9D5CD0;
  transition: opacity 0.3s ease-in-out;
}
.list__item--checkbox:checked + span {
  border-color: #9D5CD0;
}
.list__item--checkbox:checked + span::before {
  opacity: 1;
}

.label-active {
  color: #9D5CD0;
}

.price {
  display: flex;
  width: 277px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}
.price__text {
  padding: 4px 10px;
  color: #fff;
  line-height: 1;
  margin: auto 0;
}
.price__input {
  width: 73px;
  background-color: #9D5CD0;
  padding: 4px 10px;
  color: #fff;
}
.price__input::placeholder {
  color: #fff;
}

.swiper-container-editions {
  width: 1155px;
  height: 576px;
  margin-top: 33px;
  padding-top: 61px;
  padding-left: 5px;
}
.swiper-slide__info {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
.swiper-slide__info--name {
  color: #fff;
}
.swiper-slide__info--author {
  color: #fff;
}
.swiper-slide__price {
  color: #fff;
  font-style: italic;
}
.swiper-slide__button {
  display: block;
  position: relative;
  margin-top: 20px;
  padding: 8px 14px;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  border-radius: 25px;
  border: 2px solid #9D5CD0;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.swiper-slide__button:hover {
  color: #fff;
  background-color: #9D5CD0;
}
.swiper-slide__button:active {
  color: #fff;
  background-color: #7943A4;
  border: 2px solid #D1A9F0;
}
.swiper-slide__button::after {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
}
.swiper-slide__button:focus::after {
  opacity: 1;
}

.projects {
  padding: 80px 0px 80px 0;
}
.projects__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  color: #333;
}
.projects__wrapper {
  width: 1080px;
}
.projects__info {
  margin-top: 20px;
  line-height: 32px;
}

.tooltip {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  padding-top: 16px;
  background: url(../img/editionsProjects/tooltip.svg);
  cursor: pointer;
}
.tooltip__content {
  display: none;
  opacity: 0;
  position: absolute;
  bottom: calc(100% + 50px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 350px;
  min-width: 230px;
  padding: 10px 11px;
  background-color: #cacaca;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
  animation: tooltip 0.6s ease forwards;
}
.tooltip__arrow {
  display: block;
  position: absolute;
  width: 20px;
  height: 25px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  overflow: hidden;
}
.tooltip__arrow:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #cacaca;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: 8px 8px 9px -4px rgba(0, 0, 0, 0.15);
}
.tooltip__text {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #fff;
}
.tooltip:hover .tooltip__content {
  display: inline-block;
  animation: tooltip 0.7s ease-in-out forwards;
}

@keyframes tooltip {
  100% {
    opacity: 1;
    bottom: calc(100% + 15px);
  }
}
.swiper-container-projects {
  width: 90%;
  margin: 0 auto;
  margin-top: 23px;
}

.swiper-button-prev-projects {
  left: 0;
  top: calc(50% + 23px);
  background-color: #ececec;
}
.swiper-button-prev-projects::before, .swiper-button-prev-projects::after {
  background-color: #000;
}

.swiper-button-next-projects {
  left: 1570px;
  top: calc(50% + 23px);
  background-color: #ececec;
}
.swiper-button-next-projects::before, .swiper-button-next-projects::after {
  background-color: #000;
}

.swiper-slide-projects {
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}
.swiper-slide-projects:hover {
  filter: none;
  -webkit-filter: none;
}

.partners {
  position: relative;
}
.partners__title {
  margin-top: 30px;
  font-size: 24px;
}

.contacts__wrapper {
  display: flex;
}
.contacts__title {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  color: #333;
}
.contacts__subtitle {
  margin-top: 32px;
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #333;
}
.contacts__subtitle--links {
  margin-top: 30px;
  margin-bottom: 18px;
}
.contacts__info {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 124px;
}
.contacts__place {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.contacts__place--mobile {
  display: none;
}
.contacts__adress {
  line-height: 32px;
}
.contacts__adress--mobile {
  display: none;
}
.contacts__form {
  display: flex;
  flex-direction: column;
}
.contacts__input {
  width: 100%;
  height: 40px;
  padding: 4px 24px 4px 24px;
  font-size: 16px;
  line-height: 32px;
  color: #999;
  border: 1px solid #333;
  border-radius: 100px;
}
.contacts__input:not(:last-child) {
  margin-bottom: 23px;
}
.contacts__button {
  width: 150px;
  padding: 14px 21px 14px 21px;
  margin-bottom: 30px;
  color: #9D5CD0;
  border: 2px solid #9D5CD0;
  border-radius: 50px;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.contacts__button:hover {
  color: #fff;
  background-color: #9D5CD0;
}
.contacts__button:active {
  color: #fff;
  background-color: #7943A4;
  border: 2px solid #D1A9F0;
}
.contacts__button::after {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
}
.contacts__button:focus::after {
  opacity: 1;
}
.contacts__links {
  display: flex;
  margin-bottom: 124px;
}
.contacts__links__item {
  display: block;
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
}
.contacts__links__item:hover {
  transform: rotate(360deg) scale(1.15);
}
.contacts__links__item:not(:last-child) {
  margin-right: 20px;
}
.contacts__links__item--whatsup {
  background: url(../img/contactsFooter/Whatsapp-Icon.svg);
}
.contacts__links__item--telegram {
  background: url(../img/contactsFooter/Telegram_2019_Logo.svg);
}
.contacts__map {
  position: absolute;
  width: calc(100% - 700px);
  height: 700px;
  right: 0;
  bottom: 140px;
}

[class*=ground-pane] {
  filter: grayscale(1);
}

.footer {
  background-color: #000;
  height: 140px;
}
.footer__wrapper {
  display: flex;
  height: 140px;
  justify-content: space-between;
}
.footer__social {
  display: flex;
  margin: auto 0;
}
.footer__social__item {
  display: block;
  transition: transform 0.3s ease-in-out;
}
.footer__social__item:not(:last-child) {
  margin-right: 15px;
}
.footer__social__item:hover {
  transform: rotate(360deg) scale(1.15);
}
.footer__logo {
  width: 173px;
  height: 40px;
  margin: auto 0;
}

.container {
  width: 1604px;
  margin: 0 auto;
}

@media (max-width: 1640px) {
  .container {
    width: 1400px;
  }

  .swiper-container-galary {
    width: 800px;
  }

  .swiper-container-editions {
    width: 1100px;
    overflow: hidden;
  }

  .swiper-slide-galary::after {
    right: 50px;
  }
  .swiper-slide-projects {
    width: 30% !important;
  }
  .swiper-slide-projects img {
    width: 100%;
  }

  .swiper-container-projects {
    width: 90%;
  }

  .swiper-button-next-projects {
    left: calc(100% - 30px);
  }

  .events__list__item:not(:nth-child(3n)) {
    margin-right: 0;
  }
  .events__list__item:nth-child(2n) {
    margin-left: 50px;
  }
}
@media (max-width: 1440px) {
  .container {
    width: 1100px;
  }

  .swiper-container-galary {
    width: 734px;
  }

  .swiper-container-editions {
    width: 734px;
  }

  .swiper-slide-galary::after {
    right: 18px;
  }
  .swiper-slide-editions {
    height: 360px;
  }
  .swiper-slide-editions__img {
    width: 100%;
    height: 100%;
  }

  .header__list__item:not(:last-child) {
    margin-right: 30px;
  }

  .bottom__list__item:not(:last-child) {
    margin-right: 50px;
  }

  .swiper-comtainer-projects {
    width: 1010px;
  }

  .galary-left {
    width: 330px;
  }
  .galary-left__text {
    width: 100%;
    height: auto;
  }

  .accordion__tabs-nav {
    max-height: 500px;
  }
  .accordion__tabs-content {
    width: calc(50% - 25px);
  }

  #accordion1,
#accordion2,
#accordion3,
#accordion4,
#accordion5 {
    width: calc(50% - 25px);
  }
}
@media (max-width: 1200px) {
  .container {
    width: 1000px;
  }

  .bottom__list__item:not(:last-child) {
    margin-right: 20px;
  }

  .events__list__item {
    width: 290px;
    min-height: 683px;
    margin-bottom: 27px;
  }
  .events__list__item:nth-child(2n) {
    margin-left: 0px;
  }
  .events__list__item:not(:nth-child(3n)) {
    margin-right: 27px;
  }
  .events__list__item:last-child {
    margin-right: 0;
  }

  .description {
    width: 100%;
    min-height: 483px;
    padding: 0px 33px 50px 33px;
  }

  .galary-left {
    width: 330px;
  }

  .swiper-container-galary {
    width: 594px;
    height: 688px;
  }
  .swiper-container-editions {
    width: 630px;
    padding-left: 0;
  }
  .swiper-slide-galary {
    width: 280px !important;
    height: 280px !important;
    margin-bottom: 34px !important;
  }
  .swiper-slide-galary::after {
    width: 280px;
    height: 280px;
    right: 0;
  }
  .swiper-slide-galary::before {
    display: none;
  }
  .swiper-slide-galary__img {
    width: 280px;
    height: 280px;
  }
  .swiper-slide-editions {
    width: 290px !important;
    height: 320px;
  }
  .swiper-slide__button {
    padding: 10px 18px;
  }

  .list__item__img {
    width: 290px;
    height: 200px;
  }

  .contacts__info {
    width: 335px;
  }
  .contacts__map {
    width: calc(100% - 487px);
  }
}
@media (max-width: 1024px) {
  .container {
    width: 925px;
  }

  .header__list {
    display: none;
    opacity: 0;
    transform: translateY(-70px);
    transform-origin: center;
    transition: all 0.3s ease-in-out;
  }

  .title {
    padding-top: 105px;
  }

  .login {
    display: none;
    opacity: 0;
  }

  .burger-menu {
    display: block;
  }

  .burger-menu__button,
.search {
    display: block;
    opacity: 1;
  }

  .about-us__wrapper {
    width: 100%;
  }

  .header__bottom {
    display: none;
  }

  .hero__wrapper {
    padding-bottom: 114px;
  }
  .hero__button {
    margin-top: 105px;
  }
  .hero__wrapper__text {
    width: 661px;
  }

  .galary-left {
    width: 280px;
  }

  .projects {
    padding-top: 50px;
  }
  .projects__wrapper {
    width: 100%;
  }
  .projects__title {
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
  }

  .partners__title {
    font-size: 18px;
  }

  .swiper-slide-projects {
    width: 50% !important;
  }
  .swiper-slide-projects img {
    width: 100%;
  }

  .contacts__links__item {
    height: 60px;
    width: 60px;
    background-size: contain;
  }

  .footer__social__item img {
    width: 60px;
    height: 60px;
    background-size: contain;
  }
}
@media (max-width: 940px) {
  .container {
    width: 760px;
  }

  .events__list__item:not(:nth-child(3n)) {
    margin-right: 0px;
  }
  .events__list__item:last-child {
    margin-right: 0;
  }
  .events__list__item:nth-child(2n) {
    margin-left: 27px;
  }

  .galary__container {
    flex-direction: column;
  }
  .galary-left__text {
    display: none;
  }
  .galary__text--mobile {
    display: block;
    margin-top: 0;
    font-size: 16px;
  }

  .swiper-container-galary {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
  }
  .swiper-container-editions {
    margin-top: 50px;
    height: 510px;
  }
  .swiper-slide-galary {
    width: 363px !important;
  }
  .swiper-slide-galary__img {
    width: 100%;
  }

  .editions {
    background: url(../img/editionsProjects/editions-bg768.jpg) no-repeat;
    background-size: cover;
  }
  .editions__wrapper {
    flex-direction: column;
  }

  .left__list {
    width: 100%;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
  }

  .tab {
    flex-direction: column;
  }

  #accordion1,
#accordion2,
#accordion3,
#accordion4,
#accordion5 {
    width: 100%;
  }

  .accordion__tabs-nav {
    max-height: 341px;
  }
  .accordion__tabs-content {
    width: 100%;
    margin-top: 50px;
  }

  .contacts__map {
    width: calc(100% - 430px);
  }
}
@media (max-width: 768px) {
  .container {
    width: 666px;
  }

  .swiper-slide-galary {
    width: 317px !important;
  }
  .swiper-slide-projects {
    width: 100%;
  }
}
@media (max-width: 680px) {
  .container {
    width: 540px;
  }

  .title {
    width: 100%;
    font-size: 58px;
    line-height: 62px;
    text-align: center;
    padding-top: 60px;
  }

  .hero__wrapper {
    width: 100%;
    padding-bottom: 90px;
  }
  .hero__wrapper__text {
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }
  .hero__button {
    margin: 70px auto 0px auto;
  }

  .swiper-slide-galary {
    width: 250px !important;
  }
  .swiper-container-events {
    display: block;
  }

  .list__item__img {
    width: 100%;
    height: auto;
  }

  .events__wrapper {
    display: none;
  }
  .events__button {
    display: none;
  }
  .events__list__item {
    width: 100%;
  }
  .events__list__item:nth-child(2n) {
    margin: 0;
  }

  .title-nav {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .accordion__tabs-nav {
    max-height: 500px;
  }

  .editions {
    padding-bottom: 0;
  }
  .editions__list--mobile {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    margin-top: 50px;
  }
  .editions-mobile__item {
    width: calc(50% - 15px);
  }

  .left__price {
    width: 100%;
  }
  .left__price input {
    width: 26%;
  }
  .left__list {
    height: 200px;
  }

  .price__text {
    margin: auto auto;
  }

  .swiper-container-editions {
    display: none;
  }

  .swiper-slide-editions {
    width: calc(50% - 15px) !important;
    height: auto;
    margin-bottom: 50px;
  }
  .swiper-slide-editions__img {
    height: 300px;
  }

  .swiper-slide__info {
    margin-top: 5px;
    flex-direction: column;
  }
  .swiper-slide__info--name {
    font-size: 14px;
  }
  .swiper-slide__info--author {
    font-size: 14px;
  }
  .swiper-slide__button {
    width: 100%;
    height: 50px;
    margin-top: 10px;
  }

  .contacts__title {
    margin-bottom: 20px;
    margin-top: 0;
  }
  .contacts__wrapper {
    flex-direction: column-reverse;
  }
  .contacts__button {
    margin-bottom: 20px;
    width: 150px;
    height: 45px;
    text-align: center;
    line-height: 1;
  }
  .contacts__subtitle--links {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .contacts__links {
    margin-bottom: 30px;
  }
  .contacts__links__item {
    height: 50px;
    width: 50px;
  }
  .contacts__subtitle--links {
    font-size: 18px;
  }
  .contacts__place {
    display: none;
  }
  .contacts__place--mobile {
    display: block;
    font-size: 18px;
    line-height: 24px;
  }
  .contacts__adress {
    display: none;
  }
  .contacts__adress--mobile {
    display: block;
    margin-bottom: 200px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
  }
  .contacts__map {
    bottom: 550px;
    width: 100%;
    height: 320px;
    left: 0;
    right: 0;
  }

  .footer {
    height: 132px;
  }
  .footer__wrapper {
    height: 132px;
    flex-direction: column-reverse;
  }
  .footer__wrapper img {
    width: 97px;
    height: 22px;
    margin: 20px auto 20px auto;
  }
  .footer__social {
    height: 50px;
    width: 200px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .footer__social__item img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 560px) {
  .container {
    width: 460px;
  }

  .galary__text--mobile {
    margin-top: 20px;
  }

  .swiper-container-galary {
    width: 100%;
    height: 610px;
    padding-top: 0;
    padding-bottom: 60px;
  }
  .swiper-slide-galary {
    width: 460px !important;
    height: 550px !important;
  }
  .swiper-slide-galary__img {
    height: 550px !important;
    width: 100%;
  }
  .swiper-button-next-galary {
    top: calc(100% - 30px);
    left: calc(50% + 50px);
    margin-top: 0;
  }
  .swiper-button-prev-galary {
    top: calc(100% - 30px);
    margin-top: 0;
    left: calc(50% - 50px);
  }
  .swiper-pagination-galary {
    top: calc(100% - 30px);
    left: calc(50% - 17px);
  }
  .swiper-slide__info--name, .swiper-slide__info--author {
    max-height: 17px;
    overflow: hidden;
  }
}
@media (max-width: 480px) {
  .container {
    width: 380px;
  }

  .title {
    font-size: 46px;
    line-height: 43px;
  }

  .hero__wrapper {
    padding-bottom: 60px;
  }
  .hero__wrapper__text {
    font-size: 16px;
    line-height: 20px;
  }
  .hero__button {
    margin-top: 50px;
  }

  .tabs-nav {
    margin-top: 14px;
  }
  .tabs-nav__item {
    width: 32px;
    height: 32px;
    padding: 5px;
    background-size: contain;
    box-sizing: border-box;
  }
  .tabs-nav__item:active, .tabs-nav__item:focus {
    box-sizing: content-box;
    padding: 5px;
    margin: 0;
    border: 2px solid #9D5CD0;
  }
  .tabs-nav__item:not(:last-child) {
    margin-right: 21px;
  }

  .swiper-slide__info--name {
    font-size: 12px;
  }
  .swiper-slide__info--author {
    font-size: 12px;
  }
  .swiper-slide__price {
    font-size: 12px;
  }
  .swiper-slide-editions__img {
    height: 250px;
  }
  .swiper-slide-galary {
    width: 380px !important;
  }

  .list__item--label {
    font-size: 15px;
  }
}
@media (max-width: 390px) {
  .container {
    width: 310px;
  }

  .title {
    padding-top: 50px;
    font-size: 38px;
  }

  .hero__wrapper {
    padding-bottom: 50px;
  }
  .hero__wrapper__text {
    margin-top: 20px;
  }
  .hero__button {
    width: 280px;
    height: 60px;
    margin-top: 30px;
  }

  .catalog__title {
    font-size: 28px;
    line-height: 1;
  }

  .swiper-container-galary {
    height: 427px;
  }
  .swiper-slide-galary {
    height: 367px !important;
    width: 310px !important;
  }
  .swiper-slide-galary__img {
    height: 367px !important;
    width: 100%;
  }
  .swiper-slide-editions__img {
    height: 200px;
  }

  .accordion__tabs-nav {
    max-height: none;
  }

  .left__list {
    height: auto;
  }
}
@media (max-width: 320px) {
  .container {
    width: 265px;
  }

  .header {
    height: 45px;
  }

  .logo {
    width: 97px;
    height: 22px;
  }

  .search {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .burger {
    width: 20px;
    height: 15px;
  }
  .burger__item {
    width: 16px;
    height: 2px;
  }
  .burger__item::before {
    width: 20px;
    height: 2px;
    top: -7px;
  }
  .burger__item::after {
    width: 13px;
    height: 2px;
    top: 7px;
  }

  .title {
    padding-top: 30px;
    font-size: 32px;
    line-height: 43px;
  }

  .hero__wrapper {
    padding-bottom: 45px;
  }
  .hero__wrapper__text {
    margin-top: 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }
  .hero__button {
    width: 200px;
    height: 40px;
    font-size: 12px;
  }
  .hero__button:hover {
    border: 2px solid transparent;
  }

  .about-us__title {
    font-size: 28px;
    line-height: 38px;
    margin-top: 55px;
  }
  .about-us__text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 2;
  }

  .galary-left {
    width: 100%;
  }

  .swiper-container-galary {
    width: 290px;
  }
  .swiper-slide-galary {
    width: 290px !important;
  }
  .swiper-slide-editions__img {
    height: 143px;
  }
  .swiper-slide__button {
    height: 40px;
  }

  .contacts__button {
    margin-bottom: 20px;
    width: 150px;
    height: 45px;
    text-align: center;
    line-height: 1;
  }
  .contacts__subtitle--links {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .contacts__links {
    margin-bottom: 30px;
  }
  .contacts__links__item {
    height: 50px;
    width: 50px;
  }
  .contacts__subtitle {
    margin-top: 0;
  }
  .contacts__subtitle--links {
    font-size: 18px;
  }
  .contacts__info {
    margin-top: 150px;
    width: 290px;
  }

  .footer {
    height: 132px;
  }
  .footer__wrapper {
    height: 132px;
    flex-direction: column-reverse;
  }
  .footer__wrapper img {
    width: 97px;
    height: 22px;
    margin: 20px auto 20px auto;
  }
  .footer__social {
    height: 50px;
    width: 200px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .footer__social__item img {
    width: 50px;
    height: 50px;
  }
}
.swiper-button-prev:focus,
.swiper-button-next:focus {
  border: 2px solid #9D5CD0;
}

@media (max-width: 680px) {
  .accordion__tabs-nav {
    max-height: 1000px;
    height: auto;
  }
}
