@media (max-width: 1640px) {
    .container {
        width: 1400px;
    }

    .swiper-container-galary {
        width: 800px;
    }
    .swiper-container-editions {
        width: 1100px;
        overflow: hidden;
    }

    .swiper {
        &-slide {
            &-galary {
                &::after {
                    right: 50px;
                }
            }
            &-projects {
                width: 30% !important;
                img {
                    width: 100%;
                }
            }
        }
    }

    .swiper-container-projects {
        width: 90%;

    }
    .swiper-button-next-projects {
        left: calc(100% - 30px);
    }

    // .swiper-slide-projects {
    //     width: 400px
    // }


    .events {
        &__list {
            &__item {
                &:not(:nth-child(3n)) {
                    margin-right: 0;
                }
                &:nth-child(2n) {
                    margin-left: 50px;
                }
            }
        }
    }
}
@media (max-width: 1440px) {
    .container {
        width: 1100px;
    }

    .swiper-container-galary {
        width: 734px;
    }
    .swiper-container-editions {
        width: 734px;
    }

    .swiper {
        &-slide {
            &-galary {
                &::after {
                    right: 18px;
                }
            }
            &-editions {
                height: 360px;
                &__img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }


    .header__list {
        &__item {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }
    .bottom__list__item:not(:last-child) {
        margin-right: 50px;
    }

    .swiper-comtainer-projects {
        width: 1010px;
    }

    .galary {
        &-left {
            width: 330px;
            &__text {
                width: 100%;
                height: auto;
            }
        }
    }

    .accordion {
        &__tabs {
            &-nav {
                max-height: 500px;
            }
            &-content {
                width: calc(50% - 25px);
            }
        }
    }
    #accordion1,
    #accordion2,
    #accordion3,
    #accordion4,
    #accordion5 {
        width: calc(50% - 25px);
    }
}

@media (max-width: 1200px) {
    .container {
        width: 1000px;
    }
    .bottom__list__item:not(:last-child) {
        margin-right: 20px;
    }

    .events__list__item {
        width: 290px;
        min-height: 683px;
        margin-bottom: 27px;
        &:nth-child(2n) {
            margin-left: 0px;
        }
        &:not(:nth-child(3n)) {
            margin-right: 27px;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    .description {
        width: 100%;
        min-height: 483px;
        padding: 0px 33px 50px 33px;
    }

    .galary {
        &-left {
            width: 330px;
        }
    }

    .swiper {
        &-container-galary {
            width: 594px;
            height: 688px;
        }
        &-container-editions {
            width: 630px;
            padding-left: 0;
        }
        &-slide {
            &-galary {
                width: 280px !important;
                height: 280px !important;
                margin-bottom: 34px !important;
                &::after {
                    width: 280px;
                    height: 280px;
                    right: 0;
                }
                &::before {
                    display: none;
                }
                &__img {
                    width: 280px;
                    height: 280px;
                }
            }
            &-editions {
                width: 290px !important;
                height: 320px;
            }
            &__button {
                padding: 10px 18px;
            }
        }
    }

    .list__item__img {
        width: 290px;
        height: 200px;
    }

    .contacts {
        &__info {
            width: 335px;
        }
        &__map {
            width: calc(100% - 487px);
        }
    }
}

@media (max-width: 1024px) {
    .container {
        width: 925px;
    }
    .header__list {
        display: none;
        opacity: 0;
        transform: translateY(-70px);
        transform-origin: center;
        transition: all .3s ease-in-out;
    }

    .title {
        padding-top: 105px;
    }
    
    .login {
        display: none;
        opacity: 0;
    }

    .burger-menu {
        display: block;
    }

    .burger-menu__button,
    .search {
        display: block;
        opacity: 1;
    }
    .about-us__wrapper {
        width: 100%;
    }
    .header__bottom {
        display: none;    
    }
    
    .hero {
        &__wrapper {
            padding-bottom: 114px;
        }
        &__button {
            margin-top: 105px;
        }
        &__wrapper__text {
            width: 661px;
        }
    }

    .galary {
        &-left {
            width: 280px;
        }
    }

    .projects {
        padding-top: 50px;
        &__wrapper {
            width: 100%;
        }
        &__title {
            font-size: 28px;
            font-weight: 400;
            line-height: 1;
        }
    }
    .partners {
        &__title {
            font-size: 18px;
        }
    }

    .swiper-slide-projects {
        width: 50% !important;
        img {
            width: 100%;
        }
    }

    .contacts {
        &__links {
            &__item {
                height: 60px;
                width: 60px;
                background-size: contain;
            }
        }
    }

    .footer {
        &__social {
            &__item img{
                width: 60px;
                height: 60px;
                background-size: contain;
            }
        }
    }

}
@media (max-width: 940px) {
    .container {
        width: 760px;
    }

    .events__list__item {
        &:not(:nth-child(3n)) {
            margin-right: 0px;
        }
        &:last-child {
            margin-right: 0;
        }
        &:nth-child(2n) {
            margin-left: 27px;
        }
    }

    .galary {
        &__container {
            flex-direction: column;
        }
        &-left {
            &__text {
                display: none;
            }
        }
        &__text--mobile {
            display: block;
            margin-top: 0;
            font-size: 16px;
        }
    }
    .swiper {
        &-container-galary {
            width: 100%;
            margin-top: 30px;
            margin-left: 0;
        }
        &-container-editions {
            margin-top: 50px;
            height: 510px;
        }
        &-slide-galary {
            width: 363px !important;
            &__img {
                width: 100%;
            }
        }
    }

    .editions {
        background: url(../img/editionsProjects/editions-bg768.jpg) no-repeat;
        background-size: cover;
        &__wrapper {
            flex-direction: column;
        }
    }
    .left {
        &__list {
            width: 100%;
            height: 130px;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .tab {
        flex-direction: column;
    }

    #accordion1,
    #accordion2,
    #accordion3,
    #accordion4,
    #accordion5 {
        width: 100%;
    }

    .accordion {
        &__tabs {
            &-nav {
                max-height: 341px;
            }
            &-content {
                width: 100%;
                margin-top: 50px;
            }
        }
    }

    .contacts {
        &__map {
            width: calc(100% - 430px);
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 666px;
    }

    .swiper {
        &-slide-galary {
            width: 317px !important;
        }
        &-slide-projects {
            width: 100%;
        }
    }

    // .burger-menu--active ~ .logo {
    //     opacity: 0;
    // }
}
@media (max-width: 680px) {
    .container {
        width: 540px;
    }

    .title {
        width: 100%;
        font-size: 58px;
        line-height: 62px;
        text-align: center;
        padding-top: 60px;
    }

    .hero {
        &__wrapper {
            width: 100%;
            padding-bottom: 90px;
            &__text {
                margin-top: 50px;
                width: 100%;
                text-align: center;
            }
        }
        &__button {
            margin: 70px auto 0px auto;
        }
    }

    .swiper {
        &-slide-galary {
            width: 250px !important;
        }
        &-container-events {
            display: block;
        }
    }

    .list {
        &__item {
            &__img {
                width: 100%;
                height: auto;
            }
        }
    }

    .events{
        &__wrapper {
            display: none;
            
        }
        &__button {
        display: none;
        }
        &__list__item {
            width: 100%;
            &:nth-child(2n) {
                margin: 0;
            }
        }
    }
    
    .title-nav {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .accordion {
        &__tabs {
            &-nav {
                max-height: 500px;
            }
        }
    }

    // #accordion > div {
    //     // height: auto !important;
    // }

    .editions {
        padding-bottom: 0;
        &__list--mobile {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            justify-content: space-between;
            margin-top: 50px;
        }
        &-mobile__item {
            width: calc(50% - 15px);
        }
    }

    .left {
        &__price {
            width: 100%;
            & input {
                width: 26%;
            }
        }
        &__list {
            height: 200px;
        }
    }
    .price {
        &__text {
            margin: auto auto;
        }
    }



    .swiper-container-editions {
        display: none;
    }

    .swiper-slide-editions {
        width: calc(50% - 15px) !important;
        height: auto;
        margin-bottom: 50px;
        &__img {
            height: 300px;
        }
    }
    .swiper-slide {
        &__info {
            margin-top: 5px;
            flex-direction: column;
            &--name {
                font-size: 14px;
            }
            &--author {
                font-size: 14px;
            }
        }
        &__button {
            width: 100%;
            height: 50px;
            margin-top: 10px;
        }
    }

    .contacts {
        &__title {
            margin-bottom: 20px;
            margin-top: 0;
        }
        &__wrapper {
            flex-direction: column-reverse;
        }
        &__button {
            margin-bottom: 20px;
            width: 150px;
            height: 45px;
            text-align: center;
            line-height: 1;
        }
        &__subtitle {
            &--links {
                margin-top: 0;
                margin-bottom: 10px;
            }
        }
        &__links {
            margin-bottom: 30px;
            &__item {
                height: 50px;
                width: 50px;
            }
        }
        &__subtitle {
            &--links {
                font-size: 18px;
            }
        }
        &__place {
            display: none;
            &--mobile {
                display: block;
                font-size: 18px;
                line-height: 24px;
            }
        }
        &__adress {
            display: none;
            &--mobile {
                display: block;
                margin-bottom: 200px;
                font-size: 14px;
                line-height: 19px;
                font-weight: 400;
            }
        }
        &__map {
            bottom: 550px;
            width: 100%;
            height: 320px;
            left: 0;
            right: 0;
        }
    }

    .footer {
        height: 132px;
        &__wrapper {
            height: 132px;
            flex-direction: column-reverse;
            & img {
                width: 97px;
                height: 22px;
                margin: 20px auto 20px auto;
            }
        }
        &__social {
            height: 50px;
            width: 200px;
            margin: 0 auto;
            justify-content: space-between;
            &__item img{
                width: 50px;
                height: 50px;
            }
        }
    }
}

@media (max-width: 560px) {
    .container {
        width: 460px;
    }

    // $container: 460px;

    .galary {
        &__text--mobile {
            margin-top: 20px;
        }
    }

    .swiper {
        &-container-galary {
            width: 100%;
            height: 610px;
            padding-top: 0;
            padding-bottom: 60px;
        }
        &-slide-galary {
            // width: $container !important;
            width: 460px !important;
            height: 550px !important;
            &__img {
                height: 550px !important;
                width: 100%;
            }
        }
        &-button-next-galary {
            top: calc(100% - 30px);
            left: calc(50% + 50px);
            margin-top: 0;
        }
        &-button-prev-galary {
            top: calc(100% - 30px);
            margin-top: 0;
            left: calc(50% - 50px);
        }
        &-pagination-galary {
            top: calc(100% - 30px);
            left: calc(50% - 17px)
        }
        &-slide__info--name,
        &-slide__info--author {
            max-height: 17px;
            overflow: hidden;
        }
    }
}
@media (max-width: 480px) {
    .container {
        width: 380px;
    }


    .title {
        font-size: 46px;
        line-height: 43px;
    }
    .hero {
        &__wrapper {
            padding-bottom: 60px;
            &__text {
                font-size: 16px;
                line-height: 20px;
            }
        }
        &__button {
            margin-top: 50px;
        }
    }

    .tabs {
        &-nav {
            margin-top: 14px;
            &__item {
                width: 32px;
                height: 32px;
                padding: 5px;
                background-size: contain;
                
                box-sizing: border-box;
                &:active,
                &:focus {
                    box-sizing: content-box;
                    padding: 5px;
                    margin: 0;
                    border: 2px solid $main;
                }
                &:not(:last-child) {
                    margin-right: 21px;
                }
            }
        }
    }

    .swiper-slide {
        &__info {
            &--name {
                font-size: 12px;
            }
            &--author {
                font-size: 12px;
            }
        }
        &__price {
            font-size: 12px;
        }
        &-editions {
            &__img {
                height: 250px;
            }
        }
        &-galary {
            width: 380px !important;
        }
    }

    .list {
        &__item {
            &--label {
                font-size: 15px;
            } 
        }
    }
}

@media (max-width: 390px) {
    .container {
        width: 310px;
    }

    .title {
        padding-top: 50px;
        font-size: 38px;
    }
    .hero {
        &__wrapper {
            padding-bottom: 50px;
            &__text {
                margin-top: 20px;
            }
        }
        &__button {
            width: 280px;
            height: 60px;
            margin-top: 30px;
        }
    }

    .catalog__title {
        font-size: 28px;
        line-height: 1;
    }

    .swiper {
        &-container-galary {
            height: 427px;
        }
        &-slide-galary {
            height: 367px !important;
            width: 310px !important;
            &__img {
                height: 367px !important;
                width: 100%;
            }
        }
        &-slide-editions {
            &__img {
                height: 200px;
            }
        }
    }

    .accordion {
        &__tabs-nav {
            max-height: none;
        }
    }

    .left {
        &__list {
            height: auto;
        }
    }
}

@media (max-width: 320px) {
    .container {
        width: 265px;
    }


    .header {
        height: 45px;
}

    .logo {
        width: 97px;
        height: 22px;
    }
    .search {
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .burger {
        width: 20px;
        height: 15px;
        &__item {
            width: 16px;
            height: 2px;
            &::before {
                width: 20px;
                height: 2px;
                top: -7px
            }
            &::after {
                width: 13px;
                height: 2px;
                top: 7px
            }
        }
    }

    .title {
        padding-top: 30px;
        font-size: 32px;
        line-height: 43px;
    }
    .hero {
        &__wrapper {
            padding-bottom: 45px;
            &__text {
                margin-top: 16px;
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
            }
        }
        &__button {
            width: 200px;
            height: 40px;
            font-size: 12px;
            &:hover {
                border: 2px solid transparent;
            }
        }
    }
    .about-us {
        &__title {
            font-size: 28px;
            line-height: 38px;
            margin-top: 55px;
        }
        &__text {
            margin-top: 15px;
            font-size: 14px;
            line-height: 2;

        }
    }

    .galary-left {
        width: 100%;
    }

    .swiper {
        &-container-galary {
            width: 290px;
        }
        &-slide-galary {
            width: 290px !important;
        }
        &-slide {
            &-editions {
                &__img {
                    height: 143px;
                }
            }
            &__button {
                height: 40px;
            }
        }
    }

    .contacts {
        &__button {
            margin-bottom: 20px;
            width: 150px;
            height: 45px;
            text-align: center;
            line-height: 1;
        }
        &__subtitle {
            &--links {
                margin-top: 0;
                margin-bottom: 10px;
            }
        }
        &__links {
            margin-bottom: 30px;
            &__item {
                height: 50px;
                width: 50px;
            }
        }
        &__subtitle {
            margin-top: 0;
            &--links {
                font-size: 18px;
            }
        }
        &__info {
            margin-top: 150px;
            width: 290px;
        }
    }

    .footer {
        height: 132px;
        &__wrapper {
            height: 132px;
            flex-direction: column-reverse;
            & img {
                width: 97px;
                height: 22px;
                margin: 20px auto 20px auto;
            }
        }
        &__social {
            height: 50px;
            width: 200px;
            margin: 0 auto;
            justify-content: space-between;
            &__item img{
                width: 50px;
                height: 50px;
            }
        }
    }
}

