.header {
    position: relative;
    height: 100px;
    // padding: 30px 0px;
    background-color: #000;
    
    &__container {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    &__bottom {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 100%;
        background-color: rgba(0,0,0,.4);
        z-index: 10;
        &__container {
            display: flex;
            justify-content: space-between;
            height: 100%;
        }
    }

}

.bottom {
    &-list {
        display: flex;
        margin: auto 0;
        color: #fff;
        &__item {
            position: relative;
            border: 2px solid transparent;
            cursor: pointer;
            &:not(:last-child) {
                margin-right: 110px;
            }
            &--label {
                padding-right: 15px;
                border: 2px solid transparent;
                &::before {
                    content: '';
                    position: absolute;
                    width: 7px;
                    height: 1px;
                    right: 2px;
                    top: 50%;
                    background-color: #fff;
                    transform: rotate(-45deg);
                    transition: transform 0.3s ease-in-out;
                    cursor: pointer;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 7px;
                    height: 1px;
                    top: 50%;
                    right: 7px;
                    background-color: #fff;
                    transform: rotate(45deg);
                    transition: transform 0.3s ease-in-out;
                }
                &:focus {
                    border-color: #7943A4;
                }
            }
            &--checkbox {
                display: none;
                &:checked ~ .bottom-list__item--label::before {
                    transform: rotate(45deg)
                }
                &:checked  ~ .bottom-list__item--label::after {
                    transform: rotate(-45deg);
                }
            }
            
        }
    }
    &__find {
        display: flex;
        position: relative;
        &--icon {
            display: block;
            margin: auto 0;
            padding: 5px;
            border: 2px solid transparent;
            &:focus {
                border-color: #7943A4;
            }    
        }
        &--input {
            width: 218px;
            height: 38px;
            margin: auto 0;
            border: 2px solid transparent;
            background-color: inherit;
            &::placeholder {
            color: #fff;
        }
            &:focus {
            border: 2px solid #7943A4;
        }
        }
        &::after {
            content: '';
            position: absolute;
            width: 218px;
            height: 1px;
            top: 50px;
            left: 43px;
            background-color: #fff;
        }
    }
}


.logo {
    width: 173px;
    height: 40px;
    margin: auto 0;
    transition: opacity .3s ease-in-out;
    z-index: 40;
}

.header__list {
    display: flex;
    margin: auto 0;
    &__item {
        & a{
            box-sizing: border-box;
            border: 2px solid transparent;
            transition: all 0.2s ease-in-out;
            color: #fff;
      }
      & a:hover {
        color: #C283F3;
       }
       &:not(:last-child) {
        margin-right: 62px;
       }
       & a:focus {
           border: 2px solid #7943A4;
       }
       &:active a{
           color: #9D5CD0;

       }
    }
}

.login {
    display: block;
    margin: auto 0;
    color: #fff;
    padding: 5px;
    padding-left: 20px;
    background: url(../img/headerHero/login.svg) no-repeat;
    background-position-x: left;
    background-position-y: center;
    &:active {
        color: #9D5CD0;
    }
    &:hover {
        color: $main;
    }
    margin: auto 0;
    background-position-y: 50%;
    color: #fff;
    border: 2px solid transparent;
    transition: color 0.3s ease-in-out;
    &:focus {
        border-color: #7943A4;
    }


}



.scroll__content {
    position: absolute;
    min-width: 300px;
    height: 300px;
    top: -500px;
    opacity: 0;
    padding: 40px 20px 40px 40px;
    background-color: rgba(0,0,0,0.4);
    transition: all .3s ease-in-out;
    z-index: 50;
}

.bottom-list__item--checkbox:checked ~ .scroll__content{
    opacity: 1;
    top: 46px;
}
.customScroll {
    height: 220px;
    overflow: auto;
    z-index: 50;
}

.bottom__overlay {
    display: none;
    &--label {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 40;
    }
}

.bottom-list__item--checkbox:checked ~ .bottom__overlay--label {
    display: block;
}

.bottom__scroll-list {
    display: flex;
    flex-direction: column;
}

.simplebar-scrollbar {
    width: 2px;
    height: 28px;
    background-color: #9D5CD0;
}
.simplebar-track {
    width: 2px !important;
    background-color: #000;

}

.scroll-list__item {
    position: relative;
    width: 220px;
    height: 40px;
    padding: 10px 14px;
    border: 2px solid transparent;
    box-sizing: border-box;
    background: url(../img/headerHero/scroll1.jpg) no-repeat;
    transition: border .2s ease-in-out;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    &:nth-child(2n) {
        background: url(../img/headerHero/scroll2.jpg) no-repeat;
    }
    & a {
        display: block;
        margin: auto 0;
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        line-height: 1;
    }
    &:hover {
        border-color: #9D5CD0;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(194,131,243,0.0);
        transition: background-color .3s ease-in-out;
    } 
    &:active::after {
        background-color: rgba(194,131,243,0.4);
    }
}

@keyframes hero-zoom {
    0% {
        transform:scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}

.hero {
    overflow: hidden;



    &__background-wrapper {
        position: relative;
        height: calc(100% - 70px);
    }

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        animation: hero-zoom 3s alternate ease-in-out infinite;
    }

    &__top {
    width: 100%;
    height: 70px;
    top: 100px;
    justify-content: space-between;
    background: rgba(0,0,0,0.4);
    }

    &__container {
        height: 70px;
        display: flex;
        justify-content: space-between;
    }

    &-list {
        display: flex;
        margin: auto 0;
        color: #fff;
        &__item{
            padding-right: 12px;
            border: 2px solid transparent;
        &:not(:last-child) {
            margin-right: 110px;
        }
        &:focus {
            border-color: #7943A4;
        }
        }
    }
    
    &__find {
        width: 218px;
        height: 50px;
        margin: auto 0;
        background-color: inherit;
        border-bottom: 1px solid #fff;
        &::placeholder {
            color: #fff;
        }
    }

    &__wrapper {
        width: 597px; 
        padding-bottom: 122px;
        &__text {
            margin-top: 16px;
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
            color: #fff;
        }
    }

    &__button {
        display: block;
        position: relative;
        width: 314px;
        height: 70px;
        border-radius: 100px;
        margin-top: 92px;

        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: #fff;

        background-color: $main;
        border: 3px solid transparent;
        cursor: pointer;
        box-sizing: content-box;
        transition: all 0.2s ease-in-out;

        &:hover {
            border: 3px solid #D1A9F0
        }
        
        &::after {
            content: '';
            position: absolute;
            top: -10px;
            right: -10px;
            bottom: -10px;
            left: -10px;
            border: 3px solid #C283F3;
            border-radius: 100px;
            opacity: 0;
        }
        &:focus::after {
            opacity: 1;
        }
        &:active {
            background-color: #7943A4;
        }
    }
}

.title {
    padding-top: 120px;
    font-size: 72px;
    font-weight: 700;
    line-height: 82.8px;
    color: #fff;
}

.burger {
    &-menu {
        display: none;
        margin: auto 0;
        &__button {
            position: relative;
            display: none;
            width: 36px;
            height: 26px;
            margin: auto 0;
            z-index: 30;
        }
        &__nav {
            position: fixed;
            display: flex;
            flex-direction: column;
            height: 200%;
            top: -120px;
            padding-top: 200px;
            right: -100%;
            background-color: #000;
            overflow-y: auto;
            z-index: 20;
            transition: left .3s ease-in-out;
        }
        &__item {
            padding: 30px 80px;
            font-size: 24px;
            font-weight: 700;
            color: #fff;
            // margin-top: 30px;
            transition: color .3s ease-in-out;
            &--link {
                color: #fff;
                &:active {
                    color: #7943A4;
                }
            }
            
        }
        &__overlay {
            display: none;
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
        }
        
    }
    &__item {
        position: absolute;
        width: 28px;
        height: 3px;
        top: 50%;
        background-color: #fff;
        z-index: 31;
        transition: all .3s ease-in-out;
        &::before {
            content: '';
            position: absolute;
            width: 36px;
            height: 3px;
            top: -10px;
            background-color: #fff;
            z-index: 31;
            transition: all .3s ease-in-out;
        }
        &::after {
            content: '';
            position: absolute;
            width: 24px;
            height: 3px;
            top: 10px;
            background-color: #fff;
            z-index: 31;
            transition: all .3s ease-in-out;
        }
    }
}

.burger-menu--active .burger-menu__overlay {
    display: block;
}

.burger-menu--active  {
    display: block;
    & .burger__item {
    background-color: transparent;
    }
    & .burger__item::before {
        top: 0;
        transform: rotate(45deg);
    }
    & .burger__item::after {
        width: 36px;
        top: 0;
        transform: rotate(-45deg);
    }
}


.search {
    width: 29px;
    height: 29px;
    margin: auto 0;
    background: url(/img/headerHero/Search.svg);
    cursor: pointer;
    &-input {
        width: 300px;
        height: 40px;
        background-color: inherit;
        border-bottom: 1px solid #fff;
    }
}

#burger-menu--checkbox {
    display: none;
}


.burger-menu--active .burger-menu__nav {
    left: 0;
}
